@import "tailwindcss";

@theme {
  --font-display: "Oswald", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-neon-green: #39ff14;
  --color-dark-surface: #ffffff;
  /* Changed to white */
}

:root {
  --foreground-rgb: 0, 0, 0;
  /* Black text */
  --background-start-rgb: 255, 255, 255;
  /* White background */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Lenis Recommended Styles */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}